
<h3>ASK A QUESTION!</h3>
<%= form_for @question do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :question %>
  <%= f.text_area :description, :rows => "10" %>
  <%= f.submit "Post Question", class: "post" %>
  <%= link_to "<< Back", :back, class: "back" %>
<% end %>
