<div class="question">
  <h2 class="question"><%= @question.title.upcase%></h2>
  <div class="vote"></div>
    <p><%= @question.description %></p>
    <div class="user_box">
      <div class="avatar"></div>
     <a href="/profiles/<%= @user.id %>"><%= @user.email %></a>
    </div>
</div>

<ul class="answers">
  <h3><%= pluralize(@question.answers.count, 'Answer') %></h3>
  <% @question.answers.each do |answer| %>
    <% if answer.video.nil?  %>

     <h3>No Answers posted yet.  Be the first!</h3>
    <% else %>
      <div class="answer">
        <div class="vote"></div>
        <div class="user_box">
          <div class="avatar"></div>
          <a href="/profiles/<%= answer.user.id %>"><%= answer.user.name %></a>
        </div>
        <li>
          <iframe src="http://www.youtube.com/embed/<%= answer.video %>"></iframe></li>
        <p class="caption"><%= answer.caption %></p>

      </div>
    <% end %>
  <% end %>
</ul>


<% if user_signed_in? %>
  <%= form_for @answer, :url => upload_new_answer_path do |f| -%>
  <%= f.label "Answer Caption" %>
  <%= f.text_field :caption, :class => 'text_field' %>
  <%= f.hidden_field :question_id %>
  <%= button_tag "Step 2" %>
  <%= link_to "Cancel", questions_path, :class => "cancel_link" %>
  <% end -%>
<% else %>
  <h3>Please sign in to post an answer.</h3>
<% end %>
