<div class="question">
  <h2 class="question"><%= @question.title.upcase%></h2>
  <div class="vote"></div>
    <p><%= @question.description %></p>
    <div class="user_box">Posted by
      <!-- <div class="avatar"></div> -->
     <a class="username" href="/profiles/<%= @question.user.id %>"><%= @question.user.name %></a><br>on <%= @question.created_at.strftime('%a %b %d %Y') %>
    </div>
</div>

<ul class="answers">
  <h3><%= pluralize(@question.answers.count, 'Answer') %></h3>
  <% unless @answers.empty? %>
    <% @answers.each do |answer| %>
      <div class="answer">
        <div class="vote"></div>
        <div class="user_box">Posted by
        <!-- <div class="avatar"></div> -->
        <a class="username" href="/profiles/<%= answer.user.id %>"><%= answer.user.name %></a><br>on <%= @question.created_at.strftime('%a %b %d %Y') %>
        </div>
          <li>
            <iframe width= "680px" height="400px" src="http://www.youtube.com/embed/<%= answer.video %>"></iframe>
          </li>
          <p class="caption"><%= answer.caption %></p>
    <% end %>
  <% else %>
    <h3>No Answers posted yet.  Be the first!</h3>
  <% end %>
</ul>


<% if user_signed_in? %>
  <%= form_for @answer, :url => upload_new_answer_path do |f| -%>
  <%= f.label "Answer Caption" %>
  <%= f.text_field :caption, :class => 'text_field' %>
  <%= f.hidden_field :question_id %>
  <%= button_tag "Step 2" %><br>
  <%= link_to "Cancel", questions_path, class: "back" %>
  <% end -%>
<% else %>
  <h3>Please sign in to post an answer.</h3>
<% end %>
