<h1><%= @user.name %></h1>
<% if @answers %>
  <h2>Answers</h2>
  <ul>
    <% @answers.each do |answer| %>
      <li><iframe src="http://www.youtube.com/embed/<%= answer.video %>"></iframe></li>
      <li><%= answer.caption %></li>
    <% end %>
  </ul>
<% end %>

<% if @questions %>
  <h2>Questions</h2>
  <ul>
    <% @questions.each do |question| %>
      <li><a class="submitted_questions" href='/questions/<%= question.id %>'><%= question.title %></a></li>
    <% end %>
  </ul>
<% end %>

<% unless @lessons.empty? %>
  <h2>Lessons</h2>
  <ul>
    <% @lessons.each do |lesson| %>
      <li><iframe src="http://www.youtube.com/embed/<%= lesson.video %>"></iframe></li>
      <li><%= lesson.title %></li>
    <% end %>
  </ul>
<% end %>

